pydantic
groq
astrapy
langchain 
langchain-community
playwright
requests
beautifulsoup4
requests
PyPDF2
unstructured
mcp
httpx
fastmcp
fastapi
uvicorn
pytest
langchain-astradb
langchain-huggingface
cassandra-driver
gevent
json5
python-dotenv