name: Deploy Backend to Render

on:
  push:
    branches:
      - prod

env:
  BACKEND_SERVICE_ID: srv-d4691u24d50c73cfqai0

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Trigger Backend Deployment
        run: |
          echo "Triggering Backend deployment..."
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            --data '{"clearCache":"do_not_clear"}' \
            https://api.render.com/v1/services/${{ env.BACKEND_SERVICE_ID }}/deploys